/**
 * ----------------------------------
 * Variables
 * ----------------------------------
 */

$namespace: 'os-';

// Layout
//
$max-width: 1024px;
$columns: 12;
$gutter: 20px;
$breakpoints: (
    'sm' : 500px,
    'md' : 768px,
    'lg' : 1000px,
    'xl' : 1400px
);
$spacer: 1.5rem;

// Colors
//
$color-text-main: #222;
$color-active: royalblue;
$color-selection-text: $color-text-main;
$color-selection-bg: magenta;

// Typography
//
$font-main: sans-serif;
$leading: 1.5;

// Effects
//
$duration: 300ms;
$easing: ease-out;