/**
 * -------------------------------------
 * Document
 * -------------------------------------
 */

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	
	// In javascript, we can query the value of the "content" property on this pseudo element.
	// Useful when we want to conditionally program javascript based on viewport width 
	&:before {
		content: "default";
		display: none;
    }
    
    @each $bp, $size in $breakpoints {

        @include media($size) {
            &:before {
                content: $bp;
            }
        }

    }
	
}

@include selection {
	color: $color-selection-text;
    background: $color-selection-bg;
}

/* Text meant only for screen readers.
 * ------------------------------------------------- */
 .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:hover,
    &:active,
    &:focus {
	    background-color: #f1f1f1;
	    border-radius: 3px;
	    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	    clip: auto !important;
	    color: #21759b;
	    display: block;
	    font-size: rem(0.875);
	    font-weight: 700;
	    height: auto;
	    left: 5px;
	    line-height: normal;
	    padding: 15px 23px 14px;
	    text-decoration: none;
	    top: 5px;
	    width: auto;
	    z-index: 100000; /* Above WP toolbar. */
    }
}